body{
    margin: 0px;
    padding: 0px;
    height: 1000px;
    background-color: orange;
    position: relative;
}
#name{
    margin: -20px 0px;
    background-color: orange;
    width: 20%;
    text-align: center;
    height: 55px;
    font-size: 35px;
    text-transform: capitalize;
    font-family: 'Ms Madi', cursive;
    position: absolute;
    padding: 10px;
    line-height: 81px;
}
#name span{
    color: white;
}
/* nav bar */
.nav-bar{
    background-color: black;
    width: 76%;
    height: 78px;
    position: absolute;
    margin: -20px 323px;
    text-align: center;
}
ol li{
    display: inline-block;
    list-style: none;
    font-family: sans-serif;
    padding: 5px;
    margin: 25px 40px;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: white;
}
ol li:hover{
    background-color:orange;
    color: white;
}
ol li:active{
    background-color: orange;
}
.img-container{
    background-image: url(../wonder-tour/images/mt.-cook-cover.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    position: absolute;
    margin: 58px 0px;
}
.img-container h1{
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    margin: 110px ;
}
.img{
    /* background-image: url(../wonder-tour/images/world\ map\ outline.jpg); */
    background-color:hsla(39, 77%, 83%,.6);
    box-shadow: 0px 10px 20px -5px rgb(0, 0, 0,.6);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 1090px;
    position: absolute;
    margin: 358px 0px;
}
.info{
    background-color: hsla(39, 100%, 50%,.6);
    box-shadow: 0px 10px 20px -5px rgb(0, 0, 0,.6);
    position: absolute;
    width: 98%;
    height: 340px;
    /* color: black; */
    font-family: sans-serif;
    margin: 368px 12px;
}
.info p{
    text-align: justify;
    text-justify: inter-word;
    margin: 15px 5px;
    padding: 5px;
}
.info p span{
    color: red;
    font-weight: bold;
}
.info h3{
    color: red;
    text-align: center;
    text-transform: capitalize;
}
.choose{
    position: absolute;
    font-family: sans-serif;
    margin: 750px 555px;
    width: 25%;
}
.choose span{
    color: orange;
}

/* why choose us? */
.reason1{
    background-color: hsla(39, 100%, 50%,.6);
    box-shadow: 0px 10px 20px -5px rgb(0, 0, 0,.6);
    position: absolute;
    width: 23%;
    height: 280px;
    margin: 838px 12px;   
    font-family: sans-serif;
}
.reason1 h4{
    text-align: center;
}
.reason1 p{
    /* color: white; */
    padding: 5px;
}
.reason2{
    background-color: hsla(39, 100%, 50%,.6);
    box-shadow: 0px 10px 20px -5px rgb(0, 0, 0,.6);
    position: absolute;
    width: 23%;
    height: 280px;
    margin: 838px 350px;   
    font-family: sans-serif;
}
.reason2 h4{
    text-align: center;
}
.reason2 p{
    /* color: white; */
    padding: 5px;
    margin: 40px 2px;
}
.reason3{
    background-color: hsla(39, 100%, 50%,.6);
    box-shadow: 0px 10px 20px -5px rgb(0, 0, 0,.6);
    position: absolute;
    width: 23%;
    height: 280px;
    margin: 838px 682px;   
    font-family: sans-serif;
}
.reason3 h4{
    text-align: center;
}
.reason3 p{
    /* color: white; */
    padding: 5px;
    margin: 40px 2px;
}
.reason4{
    background-color: hsla(39, 100%, 50%,.6);
    box-shadow: 0px 10px 20px -5px rgb(0, 0, 0,.6);
    position: absolute;
    width: 23%;
    height: 280px;
    margin: 838px 1019px;   
    font-family: sans-serif;
}
.reason4 h4{
    text-align: center;
}
.reason4 p{
    /* color: white; */
    padding: 5px;
    margin: 40px 2px;
}
.reason5{
    background-color: hsla(39, 100%, 50%,.6);
    box-shadow: 0px 10px 20px -5px rgb(0, 0, 0,.6);
    position: absolute;
    width: 23%;
    height: 280px;
    margin: 1150px 12px;   
    font-family: sans-serif;
}
.reason5 h4{
    text-align: center;
}
.reason5 p{
    /* color: white; */
    padding: 5px;
    margin: 40px 2px;
}
.reason6{
    background-color: hsla(39, 100%, 50%,.6);
    box-shadow: 0px 10px 20px -5px rgb(0, 0, 0,.6);
    position: absolute;
    width: 23%;
    height: 280px;
    margin: 1150px 350px;   
    font-family: sans-serif;
}
.reason6 h4{
    text-align: center;
}
.reason6 p{
    /* color: white; */
    padding: 5px;
    margin: 40px 2px;
}
.reason7{
    background-color: hsla(39, 100%, 50%,.6);
    box-shadow: 0px 10px 20px -5px rgb(0, 0, 0,.6);
    position: absolute;
    width: 48%;
    height: 280px;
    margin: 1150px 682px;   
    font-family: sans-serif;
}
.reason7 h4{
    text-align: center;
}

/* progress bar */
.progress-bar{
    outline: 3px solid #fff;
    border-radius: 50%;
    height: 150px;
    outline-offset: -1px;
    position: relative;
    width: 150px;
    margin: 85px 95px;
}
.progress-bar::after,.number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.progress-bar::after{
    content: "";
    width: 110px;
    height: 110px;
    border-radius: inherit;
    outline: inherit;
}
.number{
    font-size: 21px;
    font-weight: bold;
}
.circle{
    stroke-dasharray: 390;
    stroke-dashoffset:390;
    transform: rotate(-90deg);
    animation: bar-fill 8s  linear forwards;
}
@keyframes bar-fill{
    100%{
        stroke-dashoffset:0;
    }
}
#orange{
    margin: -65px -110px;
    font-weight: bold;
    position: absolute;
    text-transform: capitalize;
    font-family: sans-serif;
}
.progress-bar1{
    outline: 3px solid #fff;
    border-radius: 50%;
    height: 150px;
    outline-offset: -1px;
    position: relative;
    width: 150px;
    margin: -228px 455px;
}
.progress-bar1::after,.number1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.progress-bar1::after{
    content: "";
    width: 110px;
    height: 110px;
    border-radius: inherit;
    outline: inherit;
}
.number1{
    font-size: 21px;
    font-weight: bold;
}
.circle1{
    stroke-dasharray: 380;
    stroke-dashoffset:380;
    transform: rotate(-90deg);
    animation: bar-fill1 8s linear forwards;
}
@keyframes bar-fill1{
    100%{
        stroke-dashoffset:0;
    }
}
#green{
    margin: -70px -110px;
    font-weight: bold;
    position: absolute;
    text-transform: capitalize;
    font-family: sans-serif;
}

/* footer section */
#footer{
    background-color: darkblue;
    position: absolute;
    width: 100%;
    margin: 1470px 0px;
    height: 400px;
}
#num{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 60px 200px;
}
#phone{
    color: aqua;
    position: absolute;
    margin: -30px 200px;
    font-size: 17px;
}
#num1{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    margin: -30px 240px;
}
#phone1{
    color: aqua;
    position: absolute;
    margin: -30px 420px;
    font-size: 17px;
}
#num2{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    margin: -30px 460px;
}
#email{
    color: aqua;
    position: absolute;
    margin: -30px 650px;
}
#org{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    margin: -30px 700px;
}
#location{
    color: aqua;
    position: absolute;
    margin: -30px 910px;
}
#address{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    margin: -30px 950px;
    width: 14%;
    line-height: 25px;
}
#news{
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    position: absolute;
    text-transform: uppercase;
    margin: 55px 200px;
}
#places{
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    text-transform: capitalize;
    width: 20%;
    line-height: 25px;
    margin: 85px 200px;
}
#a1{
    color: white;
    text-decoration: none;
}
#link{
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin: 55px 700px;
    width: 30%;
    position: absolute;
}
#list{
    position: absolute;
    margin: 65px 578px;
    height: 50px;
    width: 30%;
    text-align: center;
}
#list li{
    display: inline-block;
    list-style-type: circle;
    font-family: sans-serif;
    padding: 5px;
    margin: 15px 10px;
    font-size: 16px;
}
.a2{
    color: white;
}
#touch{
    height: 60px;
    width: 13%;
    background-color: rgb(18, 240, 240);
    position: absolute;
    border: none;
    margin: 145px 699px;
}
#a3{
    font-size: 16px;
    color: white;
}
#footer1{
    background-color: rgb(12, 12, 95);
    font-size: 16px;
     position: absolute;
     margin: 256px 0px;
     height: 100px;
     width: 100%;
}
#rights{
    margin: 60px 195px;
    text-transform: capitalize;
    color: gray;
    width: 20%;
    position: absolute;
}
#facebook{
    margin: 60px 692px;
    position: absolute;
    color: gray;
}
#facebook:active{
    color: aqua;
}
#facebook:hover{
    color: aqua;
    font-size: 18px;
}
#twitter{
    margin: 60px 725px;
    position: absolute;
    color: gray;
}
#twitter:active{
    color: aqua;
}
#twitter:hover{
    color: aqua;
    font-size: 18px;
}
#google{
    margin: 60px 760px;
    position: absolute;
    color: gray;
}
#google:active{
    color: aqua;
}
#google:hover{
    color: aqua;
    font-size: 18px;
}
#instagram{
    margin: 60px 799px;
    position: absolute;
    color: gray;
}
#instagram:hover{
    color: aqua;
    font-size: 18px;
}
#instagram:active{
    color: aqua;
}
#policy{
    color: gray;
    position: absolute;
    float: right;
    margin: 60px 1020px;
    font-size: 16px;
    text-transform: capitalize;
    width: 20%;
}